<div class="container">
<div class="content">
  <div class="wiki_search">
    <input type="text" [(ngModel)]="text">
    <button class="btn" (click)="onSearch(text)">Искать</button>
  </div>

  <table class="wiki_table">
    <thead>
      <tr>
        <td>Номер страницы</td>
        <td>Заголовок</td>
        <td>Превью</td>
        <td>Время</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let it of wiki | slice: (page-1)*lengthOfPage :page*lengthOfPage">
        <td>{{it.pageid}}</td>
        <td>{{it.title}}</td>
        <td>
          {{it.snippet}}
        </td>
        <td>{{it.timestamp}}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination" *ngIf="wiki.length>0">
    <a class="btn left_pagination" (click)="onClickLeft()">Назад</a>
    <div class="pagination__page">
      Страница
      {{page}}
      из
      {{ allPageCount }}
    </div>
    <a class="btn right_pagination" (click)="onClickRight()">Далее</a>
  </div>
</div>
</div>
