<div class="container">
<div class="content">
  <form action="" class="wiki_search">
    <input type="text">
    <button class="btn">Искать</button>
  </form>

  <table class="wiki_table">
    <thead>
      <tr>
        <td>Номер страницы (pageid)</td>
        <td>Заголовок (title)</td>
        <td>Превью (snippet, в формате html)</td>
        <td>Время (timestamp)</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let it of wiki">
        <td>{{it.pageid}}</td>
        <td>{{it.snippet}}</td>
        <td>{{it.timestamp}}</td>
        <td>{{it.timestamp}}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button class="btn left_pagination">Left</button>

    <div class="pagination__page">
      <div class="page_now">3</div>
      <div class="page_all">20</div>
    </div>

    <button class="btn right_pagination">Right</button>
  </div>
</div>
</div>
